@media only screen and (max-width: 1023px) {

	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.header {

		&__menu {
			display: none;
		}
	}

	.intro,
	.tour,
	.contacts {
		background-size: cover;
	}

	.intro {
		padding: 200px 0;
	}

	.advantages {
		padding: 80px 0;

		&__list {
			flex-wrap: wrap;
			margin-bottom: -40px;
		}
	}

	.advantage {
		width: 50%;
		margin-bottom: 40px;

		&__title {
			margin-top: 10px;
		}
	}

	.degustation {
		padding: 80px 0;
		text-align: center;

		&__container {
			padding-bottom: 360px;
			background-position: bottom center;
		}

		&__order,
		&__form {
			padding-left: 0;
		}

		&__arrow {
			margin-left: 420px;
		}

		&__form {
			justify-content: center;
			margin-left: 0;
		}
	}

	.calc {

		&__events {
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
		}

		&__advantage {
			display: flex;
			align-items: center;
			line-height: 1;
		}
	}

	.clients {

		&__trust {
			margin-top: 60px;
		}
	}

	.administrator {
		padding: 80px 0;
	}

	.contacts {
		padding: 80px 0;
		
		&__container {
			flex-direction: column-reverse;
			align-items: center;
		}

		&__content {
			padding: 0;
			text-align: center;
		}

		&__map {
			margin-top: 40px;
		}

		&__address {
			margin: 20px 0;
		}
	}

	.modal {
		align-items: center;
		max-width: 500px;
		padding-left: 60px;
		text-align: center;
		background: $color-white !important;
	}
}


@media only screen and (max-width: 767px) {

	.header {

		&__logo {

			&-img {
				max-width: 140px;
			}
		}

		&__phone {
			font-size: 16px;
		}
	}

	.intro {
		padding: 100px 0 80px;

		&__title {
			font-size: 36px;
			line-height: 48px;
		}

		&__btn {
			margin-top: 30px;
		}
	}

	.advantages {

		&__list {
			flex-direction: column;
			align-items: center;
			margin-bottom: 0;
		}
	}

	.advantage {
		width: 100%;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 40px;
		}

		// br {
		// 	display: none;
		// }
	}

	.degustation {
		padding-top: 0;
		padding-bottom: 40px;

		&__container {
			padding-bottom: 340px;
		}

		&__form {
			flex-direction: column;
			align-items: center;

			.form__submit {
				margin-top: 10px;
			}
		}

		&__arrow {
			margin-left: auto;
			margin-right: auto;
		}

		&__left {
			padding-left: 0;
		}
	}

	.tour {

		iframe {
			height: 310px;
		}
	}

	.calc {

		&__events {
			flex-wrap: wrap;
			width: 100%;
			margin: 60px 0 -30px;
		}

		&__advantages {
			flex-direction: column;
			margin-top: 60px;
		}

		&__advantage {
			width: 100%;
			height: auto;
			min-height: 42px;
		}
	}

	.event {
		width: 100%;
		padding: 0;

		&__title,
		&__bar {
			left: 0;
			width: 100%;
		}

		&__title {
			height: 34px;
		}

		&__bar {
			height: 46px;
		}
	}

	.clients {
		padding-top: 60px;

		&__slider {
			margin-top: 60px;
		}

		&__trust {
			flex-direction: column;
			align-items: center;

			&-content {
				margin-top: 15px;
				padding: 0;
				text-align: center;
			}
		}
	}

	.administrator {
		padding: 60px 0;

		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__photo {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}

		&__content {
			margin: 30px 0 0;
			padding: 0;
			text-align: center;
		}

		&__subtitle,
		&__phone {
			margin-top: 15px;
		}

		&__phone {
			display: inline-block;
		}
	}

	.contacts {
		padding: 60px 0;

		&__map {
			max-width: 100%;
			height: 300px;

			& > ymaps {
				max-width: 100%;
				height: 300px !important;
			}
		}
	}

	.modal {
		padding: 0;
	}

	.modal__terms {
		padding: 30px 15px;
	}
}