/* --------- variables --------- */


$color-black: #000;
$color-white: #fff;
$color-yellow: #fed800;
$color-orange: #c59105;

$font-circle: 'Circle', 'Open Sans', sans-serif;


/* --------- global elements styles --------- */


*,
*:before,
*:after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: $font-circle;
}

.slick-slide,
input, textarea, button,
a, a:focus, a:active {
  outline: none;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.yellow-btn {
  display: block;
  margin: 0 auto;
  transition: all .3s;
  text-transform: uppercase;
  color: #661500;
  background: #f6fe00;
  background: linear-gradient(to bottom, #f6fe00 0%, #ffd300 100%);
  border: none;
  border-bottom: 3px solid #d3a731;
  border-right: 3px solid #d3a731;
  border-radius: 7px;

  position: relative;
  overflow: hidden;

  &:hover {
    transition: all .3s;
    border-bottom: 3px solid #9e7f2a;
    border-right: 3px solid #9e7f2a;
  }
}


/* --------- header --------- */


.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 76px;
  padding: 10px 0;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    &-img {
      display: block;
      max-width: 100%;
    }
  }

  &__phone {
    padding-left: 32px;
    font-weight: 700;
    font-size: 22.78px;
    line-height: 25px;
    color: $color-white;
    background: url('../img/icon-phone.png') no-repeat left center;
  }
}

.menu {

  &__item {
    display: inline-block;
    margin: 0 14px;

    &:first-child { margin-left: 0; }
    &:last-child  { margin-right: 0; }
  }

  &__link {
    font-size: 15.97px;
    line-height: 1;
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      color: $color-yellow;
    }
  }
}


/* --------- intro --------- */


.intro {
  padding: 256px 0;
  text-align: center;
  color: $color-white;
  background: url('../img/bg-intro.jpg') no-repeat center top;

  &__title {
    font-weight: 700;
    font-size: 43.38px;
    line-height: 60px;

    span {
      color: $color-yellow;
    }
  }

  &__btn {
    width: 206px; height: 50px;
    margin-top: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 20.66px;
    text-transform: none;
    text-indent: -35px;
    background: url('../img/icon-download.png') no-repeat right 20px center, linear-gradient(to bottom, #f6fe00 0%, #ffd300 100%);
  }
}


/* --------- advantages --------- */


.advantages {
  padding: 90px 0 0;
  text-align: center;
  background: $color-white;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.advantage {

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-top: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
  }
}


/* --------- degustation --------- */


.degustation {
  padding: 145px 0 120px;
  color: #393029;
  background: $color-white;

  &__container {
    padding-left: 430px;
    background: url('../img/free-cake.jpg') no-repeat left top 50px;
  }

  &__order,
  &__left {
    padding-left: 70px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45.82px;
  }

  &__order {
    margin: 60px 0 15px;
  }

  &__text {
    font-weight: 700;
    font-size: 24.2px;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__arrow {
    display: block;
    width: 21px; height: 23px;
    margin-left: 260px;
    background: url('../img/icon-yellow-arrow.png') no-repeat center;
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1111;
  }

  &__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 70px;
    padding-bottom: 30px;
    border-bottom: 2px solid #393029;

    .form__input {
      width: 234px;
    }

    .form__submit {
      width: 190px; height: 42px;
      margin: -1px 0 0;
      margin-left: 10px;
      font-size: 15.37px;
      line-height: 42px;
    }
  }

  &__left {
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 21.51px;
    line-height: 1;

    span {
      font-weight: 700;
      color: $color-orange;
    }
  }
}


/* --------- tour --------- */


.tour {
  padding: 57px 0;
  text-align: center;
  background: url('../img/bg-tour.jpg') no-repeat center;

  &__title {
    font-weight: 700;
    font-size: 32.11px;
    line-height: 43.53px;
    color: #393029;
  }

  &__interactive {
    margin-top: 30px;
  }
}


/* --------- calc --------- */


.calc {
  padding: 60px 0;
  text-align: center;
  background: $color-white;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: #393029;
  }

  &__events,
  &__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__events {
    margin: 75px 0 -30px;
  }

  &__advantages {
    margin: 120px 0 -45px;
  }

  &__advantage {
    width: 50%; height: 42px;
    line-height: 42px;
    margin-bottom: 45px;
    padding: 0 0px 0 68px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    background: url('../img/icon-star.png') no-repeat left 8px center;
  }
}

.event {
  position: relative;
  width: 50%;
  margin-bottom: 30px;
  padding: 0 15px;

  &__title,
  &__bar {
    position: absolute;
    left: 15px; width: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background: rgba($color-white, .73);
  }

  &__title {
    top: 0; height: 40px;
    font-weight: 700;
    font-size: 22px;
  }

  &__bar {
    bottom: 0; height: 60px;
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }

  &__btn {
    width: 200px; height: 36px;
    line-height: 36px;
    font-size: 12.09px;
    margin: 0;
  }
}


/* --------- clients --------- */


.clients {
  padding: 80px 0 60px;
  text-align: center;
  background: $color-white;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: #393029;
  }

  &__slider {
    margin-top: 75px;
  }

  &__slide {

    &-img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__trust {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 120px;
    color: #393029;

    &-logo {
      display: block;
      max-width: 100%;
    }

    &-content {
      padding-left: 25px;
      text-align: left;
    }

    &-title {
      margin: 0;
      font-weight: 700;
      font-size: 19.54px;
      line-height: 1;
    }

    &-text {
      margin: 12px 0 0;
      font-size: 15.34px;
      line-height: 20.62px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%; margin-top: -18.5px;
    width: 21px; height: 37px;
    background: url('../img/icon-slider-arrow.png') no-repeat center;
    cursor: pointer;
    border: none;
    font-size: 0;
    z-index: 1;
  }

  .slick-prev {
    left: 12px;
  }

  .slick-next {
    right: 12px;
    transform: scale(-1, 1);
  }
}


/* --------- administrator --------- */


.administrator {
  padding: 60px 0 120px;
  color: #393029;
  background: $color-white;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 130px;
  }

  &__content {
    padding: 75px 0 0 30px;
    font-weight: 700;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
  }

  &__subtitle {
    margin: 28px 0 0;
    font-size: 27px;
    line-height: 29.54px;
  }

  &__phone {
    display: block;
    margin: 28px 0 0;
    padding-left: 67px;
    font-size: 30px;
    line-height: 48px;
    background: url('../img/icon-phone-gray.png') no-repeat left center
  }
}


/* --------- contacts --------- */


.contacts {
  padding: 145px 0 95px;
  background: url('../img/bg-contacts.jpg') no-repeat center;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
  }

  &__map {
    width: 460px; height: 375px;
  }

  &__content {
    padding-left: 90px;
    font-weight: 700;
    font-size: 23.37px;
    line-height: 33.98px;
    color: $color-white;
  }

  &__address {
    margin: 40px 0;
  }
}


/* --------- form --------- */


.form {

  &__input {
    padding: 5px 9px 3px;
    font-family: $font-circle;
    font-size: 19.44px;
    color: #222;
    background: #ecf0ef;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 4.95px 0.05px rgba(0, 0, 0, .37) inset;

    &::-webkit-input-placeholder { color: #88908e; }
    &:-moz-input-placeholder { color: #88908e; opacity: 1; }
  }

  &__submit {
    font-family: $font-circle;
    font-weight: 700;
  }
}


/* --------- modal --------- */


.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%; max-width: 806px; 
  height: 456px;
  margin: 0 auto;
  padding-left: 460px;
  padding-right: 60px;
  color: #393029;
  background-color: $color-white;
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 5px;

  &__title {
    font-weight: 700;
    font-size: 27.27px;
    line-height: 35.55px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    span {
      font-size: 18.08px;
      line-height: 22.44px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 17.34px;
    line-height: 22px;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__form {
    display: block;
    width: 100%; max-width: 272px;
    margin-top: 30px;

    .form__input,
    .form__submit {
      display: block;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .form__input {
      padding: 9px 9px 7px;
      font-size: 13px;
    }

    .form__submit {
      height: 34px; line-height: 34px;
      font-size: 11px;
    }
  }
}

.modal_terms {
  height: auto;
  padding: 60px;
}

.modal_menu {

  .modal__title {
    font-size: 31.05px;
    line-height: 39px;
  }
}

#popup-menu { background-image: url('../img/bg-popup-menu.jpg'); }
#popup-wedding { background-image: url('../img/bg-popup-wedding.jpg'); }
#popup-corporative { background-image: url('../img/bg-popup-corporative.jpg'); }
#popup-birthday { background-image: url('../img/bg-popup-birthday.jpg'); }
#popup-anniversary { background-image: url('../img/bg-popup-anniversary.jpg'); }


/* --------- animations --------- */


.ink {
  display: block;
  width: 100px; height: 100px; 
  right: 0; bottom: -70px;
  position: absolute;
  background: rgba(255, 255, 255, .95);
  border-radius: 100%;
  transform: scale(0);
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  30%, 100% {opacity: 0; transform: scale(3);}
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}